#nav-bar {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(12px);
}

.horizontal-list {
    list-style-type: none;
    float: right;
}

.no-deco{
    text-decoration: none;
    margin-right: 70px;
    color: white;
}

.no-deco:visited {
    color: white;
}

.horizontal {
    float: left;
}