#contact p {
    padding-top: 5px;
    margin-left: 50px;
    width: 800px;
    font-size: 40px;
}

.form {
    width: 300px;
    padding: 10px 0px;
    margin-left: 50px;
    display: flex;
    border-radius: 15px;
    font-size: large;
}

#contact-form textarea {
    font-size: large;
    width: 300px;
    margin-left: 50px;
    resize: none;
    border-radius: 15px;
    display: flex;
    height: 200px;
}

.form-button {
    width: 300px;
    margin-left: 50px;
    height: 30px;
    border-radius: 15px;
    display: flex;
}