/* body {
    color: #00E900;
} */

body {
    background-color: #020502;
    margin: 0;
    padding: 0;
    color: white;
}

/*
020502
3D17E8
00E900
E87317
9C4808
*/

.border {
    border-bottom: 1px solid black;
}

.section {
    border: 1px solid black;
    height: 100vh
}
